- content_for :header_tags do
  = javascript_include_tag saml_request_javascript_path, defer: true

#saml-request-bridge
  = form_with url: login_with_saml_redirect_path(provider: 'saml', script_name: request.script_name),
              method: :post,
              local: true,
              id: 'saml-request-form' do |f|
    = f.hidden_field :origin, value: @saml_origin, id: nil if @saml_origin.present?
    = f.button saml_login_label, type: 'submit'
