h3.title = l :label_saml_sudo_reauth_required
p.nodata style="font-size: 1em;" = l :text_saml_sudo_reauth_info

#saml-sudo-reauth
  / Deliberately not a remote form: submitting it must navigate the whole
  / browser window to the IdP instead of issuing an XHR from the modal.
  = form_with url: saml_sudo_reauth_path, method: :post, local: true, id: 'saml-sudo-reauth-form' do |f|
    = f.hidden_field :back_url, value: @saml_sudo_return_url, id: nil
    p.buttons
      = f.button l(:button_saml_sudo_reauth), type: 'submit'
      = link_to_function l(:button_cancel), 'hideModal(this);'
