h3.title = saml_sudo_reauth_title
p.nodata style="font-size: 1em;" = saml_sudo_reauth_text

#saml-sudo-reauth
  / Deliberately not a remote form: submitting it must navigate the whole
  / browser window to the IdP instead of issuing an XHR from the modal.
  = form_with url: saml_sudo_reauth_path, method: :post, local: true, id: 'saml-sudo-reauth-form' do |f|
    = f.hidden_field :back_url, value: @saml_sudo_return_url, id: nil
    p.buttons
      = f.button saml_sudo_reauth_button_label, type: 'submit'
      = link_to_function l(:button_cancel), 'hideModal(this);'
